.hm-select-input {
    margin: 16px;
    border-radius: 6px;
    width : 200px;
    height: 36px;
    border: 2px solid darkgray;
}

.hm-option {
    line-height: 16px;
    height: 20px;
    padding: 4px;
}